<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="iris_demo">
  <xacro:include filename="$(find agri_resources)/urdf/drones/iris.xacro"/>

  <!-- Define a macro for the LiftDrag plugin -->
  <xacro:macro name="lift_drag_plugin" params="name a0 alpha_stall cla cda cma cla_stall cda_stall cma_stall area air_density cp forward upward link_name">
    <gazebo reference="${link_name}">
      <plugin name="${name}" filename="libLiftDragPlugin.so">
        <a0>${a0}</a0>
        <alpha_stall>${alpha_stall}</alpha_stall>
        <cla>${cla}</cla>
        <cda>${cda}</cda>
        <cma>${cma}</cma>
        <cla_stall>${cla_stall}</cla_stall>
        <cda_stall>${cda_stall}</cda_stall>
        <cma_stall>${cma_stall}</cma_stall>
        <area>${area}</area>
        <air_density>${air_density}</air_density>
        <cp>${cp}</cp>
        <forward>${forward}</forward>
        <upward>${upward}</upward>
      </plugin>
    </gazebo>
  </xacro:macro>

  <!-- Instantiate the LiftDrag plugin macros for all rotor blades -->
  <xacro:lift_drag_plugin name="rotor_0_blade_1" a0="0.3" alpha_stall="1.4" cla="4.2500" cda="0.10" cma="0.00" cla_stall="-0.025" cda_stall="0.0" cma_stall="0.0" area="0.002" air_density="1.2041" cp="0.084 0 0" forward="0 1 0" upward="0 0 1" link_name="rotor_0"/>
  <xacro:lift_drag_plugin name="rotor_0_blade_2" a0="0.3" alpha_stall="1.4" cla="4.2500" cda="0.10" cma="0.00" cla_stall="-0.025" cda_stall="0.0" cma_stall="0.0" area="0.002" air_density="1.2041" cp="-0.084 0 0" forward="0 -1 0" upward="0 0 1" link_name="rotor_0"/>
  <xacro:lift_drag_plugin name="rotor_1_blade_1" a0="0.3" alpha_stall="1.4" cla="4.2500" cda="0.10" cma="0.00" cla_stall="-0.025" cda_stall="0.0" cma_stall="0.0" area="0.002" air_density="1.2041" cp="0.084 0 0" forward="0 1 0" upward="0 0 1" link_name="rotor_1"/>
  <xacro:lift_drag_plugin name="rotor_1_blade_2" a0="0.3" alpha_stall="1.4" cla="4.2500" cda="0.10" cma="0.00" cla_stall="-0.025" cda_stall="0.0" cma_stall="0.0" area="0.002" air_density="1.2041" cp="-0.084 0 0" forward="0 -1 0" upward="0 0 1" link_name="rotor_1"/>
  <xacro:lift_drag_plugin name="rotor_2_blade_1" a0="0.3" alpha_stall="1.4" cla="4.2500" cda="0.10" cma="0.00" cla_stall="-0.025" cda_stall="0.0" cma_stall="0.0" area="0.002" air_density="1.2041" cp="0.084 0 0" forward="0 -1 0" upward="0 0 1" link_name="rotor_2"/>
  <xacro:lift_drag_plugin name="rotor_2_blade_2" a0="0.3" alpha_stall="1.4" cla="4.2500" cda="0.10" cma="0.00" cla_stall="-0.025" cda_stall="0.0" cma_stall="0.0" area="0.002" air_density="1.2041" cp="-0.084 0 0" forward="0 1 0" upward="0 0 1" link_name="rotor_2"/>
  <xacro:lift_drag_plugin name="rotor_3_blade_1" a0="0.3" alpha_stall="1.4" cla="4.2500" cda="0.10" cma="0.00" cla_stall="-0.025" cda_stall="0.0" cma_stall="0.0" area="0.002" air_density="1.2041" cp="0.084 0 0" forward="0 -1 0" upward="0 0 1" link_name="rotor_3"/>
  <xacro:lift_drag_plugin name="rotor_3_blade_2" a0="0.3" alpha_stall="1.4" cla="4.2500" cda="0.10" cma="0.00" cla_stall="-0.025" cda_stall="0.0" cma_stall="0.0" area="0.002" air_density="1.2041" cp="-0.084 0 0" forward="0 1 0" upward="0 0 1" link_name="rotor_3"/>

  <xacro:macro name="arducopter_plugin" params="">
    <gazebo>
      <plugin name="arducopter_plugin" filename="libArduPilotPlugin.so">
        <fdm_addr>127.0.0.1</fdm_addr>
        <fdm_port_in>9002</fdm_port_in>
        <fdm_port_out>9003</fdm_port_out>
        <modelXYZToAirplaneXForwardZDown>0 0 0 3.141593 0 0</modelXYZToAirplaneXForwardZDown>
        <gazeboXYZToNED>0 0 0 3.141593 0 0</gazeboXYZToNED>
        <imuName>iris::iris/imu_link::imu_sensor</imuName>
        <connectionTimeoutMaxCount>5</connectionTimeoutMaxCount>
        <control channel="0">
          <type>VELOCITY</type>
          <offset>0</offset>
          <p_gain>0.20</p_gain>
          <i_gain>0</i_gain>
          <d_gain>0</d_gain>
          <i_max>0</i_max>
          <i_min>0</i_min>
          <cmd_max>2.5</cmd_max>
          <cmd_min>-2.5</cmd_min>
          <jointName>rotor_0_joint</jointName>
          <multiplier>838</multiplier>
          <controlVelocitySlowdownSim>1</controlVelocitySlowdownSim>
        </control>
        <control channel="1">
          <type>VELOCITY</type>
          <offset>0</offset>
          <p_gain>0.20</p_gain>
          <i_gain>0</i_gain>
          <d_gain>0</d_gain>
          <i_max>0</i_max>
          <i_min>0</i_min>
          <cmd_max>2.5</cmd_max>
          <cmd_min>-2.5</cmd_min>
          <jointName>rotor_1_joint</jointName>
          <multiplier>838</multiplier>
          <controlVelocitySlowdownSim>1</controlVelocitySlowdownSim>
        </control>
        <control channel="2">
          <type>VELOCITY</type>
          <offset>0</offset>
          <p_gain>0.20</p_gain>
          <i_gain>0</i_gain>
          <d_gain>0</d_gain>
          <i_max>0</i_max>
          <i_min>0</i_min>
          <cmd_max>2.5</cmd_max>
          <cmd_min>-2.5</cmd_min>
          <jointName>rotor_2_joint</jointName>
          <multiplier>-838</multiplier>
          <controlVelocitySlowdownSim>1</controlVelocitySlowdownSim>
        </control>
        <control channel="3">
          <type>VELOCITY</type>
          <offset>0</offset>
          <p_gain>0.20</p_gain>
          <i_gain>0</i_gain>
          <d_gain>0</d_gain>
          <i_max>0</i_max>
          <i_min>0</i_min>
          <cmd_max>2.5</cmd_max>
          <cmd_min>-2.5</cmd_min>
          <jointName>rotor_3_joint</jointName>
          <multiplier>-838</multiplier>
          <controlVelocitySlowdownSim>1</controlVelocitySlowdownSim>
        </control>
      </plugin>
    </gazebo>
  </xacro:macro>

  <xacro:arducopter_plugin/>

</robot>